@use './style-custom';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--c-main);
  color: var(--c-sec);
}

a {
  color: var(--c-sec);
  &:hover {
    color: grey;
    text-decoration: none;
  }
}
